.navbar{
    background-color: #e3f2fd;
}
.nav-item .nav-link:hover{
    text-decoration: underline #aa0082;
    text-underline-offset: 10px;
    font-weight: bolder;
}
.nav-item .nav-link{
    font-size: 17px;
}